.container {
  width: 400px;
  height: 200px;
  position: relative;
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.progress {
  background-color: skyblue;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  z-index: -1;
  transition: 1s ease-in;
}

.bar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.bar::before {
  content: "";
  background-color: grey;
  position: absolute;
  height: 4px;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: -1;
}

.step {
  border-radius: 50%;
  border: solid 3px grey;
  padding: 10px;
  transition: 1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: white;
}

.active {
  border: solid 3px skyblue;
}

.btn {
  background-color: skyblue;
  padding: 5px 30px;
  border: 0;
  margin: 0px 5px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}
